/* custom.css */

/* Change the background color of the entire app */
body {
  background-color: #f0f0f0; /* Replace this with your desired light gray color */
}

/* Change the background color of the entire banner */
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4567CD;
  color: #ffffff;
  padding: 2px 20px;  /* Reduced the top and bottom padding to 2px */
}

.title-container h1 {
  flex: 1; /* This will make the title take up as much space as possible, pushing the button and marker to the right */
}

.button-marker-group {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* This pushes the children to the right */
  margin-right: 40px;
}

#start-button {
    border: 3px solid #ed5565;  /* Color of the border */
    background-color: transparent;  /* No fill/background color */
    color: #ffffff;  /* Text color */
    font-weight: bold;  /* Bold text */
    font-family: 'Litera', sans-serif;  /* Setting the font to 'Litera' */
    cursor: pointer;  /* Change cursor to pointer when hovering over the button */
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

#start-button:hover {
    background-color: #035591;  /* Fill color on hover */
    color: #ffffff;  /* Text color on hover */
}

.logo-img {
  position: absolute;
  top: 10px; /* Adjust the top position to control the vertical alignment */
  right: 10px; /* Adjust the right position to control the horizontal alignment */
  width: 50px; /* Set the width of the image as needed */
  height: 50px; /* Set the height of the image as needed */
  z-index: 1; /* Ensure the image is positioned above other elements */
}

/* Add styles for the chart container */
.chart-container {
  text-align: left; /* Center the content horizontally within the container */
}

/* Add styles for the caption text */
.caption-text {
  font-size: 11px; /* Set the font size for the caption text (adjust as needed) */
  color: #888888; /* Set the text color for the caption text (adjust as needed) */
  font-style: italic; /* Set the font style to italic */
}

/* Region drop down padding */
.padded-dropdown {
    padding-top: 20px;
    padding-bottom: 20px;
}

#tabs .tab {
  display: inline-block;  /* Make them inline elements */
  width: auto;  /* Auto width based on content */
  min-width: 200px;  /* Minimum width */
  padding: 6px 12px !important;
  font-size: 14px !important;
  margin-top: 10px !important;  /* Add some space below the tabs */
  margin-bottom: 10px !important;  /* Add some space below the tabs */

}

/* add margins to all tab outer divs */
.tab-divs {
  margin: 4px;
}

#prev-button, #next-button {
  display: inline-block;
  width: auto;
  min-width: 200px;
  padding: 6px 12px;
  font-size: 14px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border: 1px solid #d6d6d6;
}

/* Modal Styling*/

#markdown-modal {
    position: fixed;
    z-index: 1;
    left: 50%; /* Center the modal horizontally */
    top: 50%;  /* Center the modal vertically */
    transform: translate(-50%, -50%); /* Ensure the modal is centered correctly */
    width: 70%; /* Adjust as needed */
    height: 80%; /* Adjust as needed */
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: none; /* Hidden by default */
}


#markdown-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#close-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-modal:hover,
#close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}